/* General Page Background */
.container {
  margin: 20px auto; /* Centrer le conteneur */
  padding: 20px; /* Ajouter de l'espace à l'intérieur */
}

/* Navbar Styling */
.navbar {
  background-color: #9ac3f0; /* Couleur bleue */
  padding: 15px;
}

.navbar-brand {
  color: black;
  font-size: 1.5rem;
}

/* Pour changer la couleur au survol */
.navbar-brand:hover {
  color: #ffffff; /* Couleur au survol (ex : blanc) */
}



/* Card Styling */
.card {
  border: none;
  border-radius: 10px;
  background-color: #ffffff; /* Fond blanc */
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1); /* Ombre */
}

/* Button Styling */
.btn-primary {
  background-color: #007bff; /* Couleur du bouton principal */
  border: none;
}

.btn-warning {
  background-color: #ffc107; /* Couleur du bouton d'avertissement */
}

/* Table Styling */
.table {
  margin-top: 20px;
  background-color: #ffffff; /* Fond blanc pour le tableau */
}

.table-dark {
  background-color: #343a40; /* Couleur de fond sombre pour l'en-tête du tableau */
  color: white; /* Couleur du texte en blanc */
}

/* Responsive Design */
.table-responsive {
  overflow-x: auto; /* Permettre le défilement horizontal sur les écrans plus petits */
}
.logout-link {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.logout-link:hover {
  color: #ffdddd; /* Hover effect */
}

h1 {
  color: #343a40; /* Dark text for headings */
  font-weight: bold;
}
